@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
.container {
  margin: 20px 30px;
  width: 100%;
}
.box1-generate {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.col1 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ae9245;
  padding: 20px 0;
}

.container1 h3 {
  font-size: 1.7rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.col2 {
  width: 50%;
}
.form-group {
  width: 100%;
  margin: 10px;
  color: rgb(84, 64, 47);
}
.form-group input,
textarea {
  padding: 8px 10px;
  width: 100%;
  border: 2px solid gray;
  border-radius: 8px;
  outline: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin: 20px 10px;
  padding: 9px 35px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color:#ae9245;
  color: white;
  font-size: 1.2rem;
}

/*//////////////////////////////////////////////     CV          ///////////////////////////////// */

.wrapper {
  margin: 7vw 0;
  border-radius: 9px;
}
.container {
  flex-wrap: wrap;
  background-color: black;
  width: 70%;
  color: rgb(241, 238, 238);
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  box-shadow: 20px 40px 40px 3px #363535;
}
.box1 {
  width: 40%;
  border-radius: 7px;
  background-color: #ae9245;
  padding: 2vw 3vw;
}
.box2 {
  width: 55%;
}
.box2 img {
  width: 70%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
  margin: auto;
}
.box2 #hide-img {
  margin: auto;
}
#professionT {
  padding: 3px 8px;
  letter-spacing: 3px;
  font-size: 14px;
  text-align: center;
  background-color: #ae9245;;
  margin: 40px 0 6px 0;
  border-radius: 5px;
}
.info div {
  margin: 10px 0 0 0;
}
.box1 h1 {
  font-size: 2.3rem;
}

.info h5 {
  color: rgb(84, 64, 47);
  font-size: 1rem;
  font-weight: 600;
}

.info p {
  color: #ffffff;
  font-size: 0.78rem;
}
.para {
  color: rgb(84, 64, 47);
  font-size: 0.87rem;
  padding: 10px 0 0 0px;
  line-height: 19px;
}
h3 {
  color: rgb(255, 250, 250);
  font-weight: 800;
}

.about {
  margin-top: 40px;
  font-weight: normal;
  font-size: 0.86rem;
}
.education_main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.education {
  margin-top: 30px;
}
.education h4,
.experience h4 {
  color: #ae9245;
  font-size: 1.3rem;
}
.box1 .sign {
  width: 100%;
  height: 200px;
  size: 40px;
  font-weight: bolder;
}

.icons p {
  font-size: 0.78rem;
}

#nameT {
  font-size: 2rem;
}
.experience {
  margin-top: 70px;
}
.experience_main h3 {
  font-size: 1rem;
}
#exp-1 {
  margin-top: 20px;
}
#exp-2 {
  margin-top: 30px;
}

.education .education_main .edu-info {
  border-left: 2px solid #6e6e6e;
  margin-top: 20px;
  padding-left: 13px;
}
#round {
  border: 1px solid #21359e;
  padding: 6px;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background-color: #ae9245;
  margin-left: -21px;
}
.icons span {
  color: #ffffff;
  font-size: 1rem;
}
#round2 {
  border: 1px solid #ae9245;
  padding: 6px;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background-color: #ae9245;
  margin-left: -28px;
}
.experience .experience_main {
  display: grid;
  grid-template-rows: auto auto;
}

.experience .experience_main #exp-1,
#exp-2 {
  border-left: 2px solid #6e6e6e;
  padding-left: 20px;
}
/* skills */
.skills-contain {
  margin-top: 60px;
}
.skills {
  margin-left: 20px;
}

#skills-btn {
  margin-top: 30px;
  padding: 5px 9px;
  width: 40%;
  background-color: #ae9245;
  color: rgb(251, 251, 251);
  cursor: pointer;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  transition: 0.3s ease-in;
}
#skills-btn:hover {
  background-color: #66686d;
}
#skill-heading {
  margin-bottom: 10px;
}

/* heading */
.head {
  background-color: rgb(50, 51, 53);
  box-shadow: 10px 10px 10px 0px rgb(0, 0, 0);
  width: 80%;
  /* font-size: 1.1rem; */
  color: rgb(255, 255, 255);
  border-radius: 6px;
  text-align: center;
  margin-top: 20px;
  padding: 4px 6px;

}
#nameT {
  font-size: 2.2rem;
}

.skills-setup {
  width: 100%;
  background-color: white;
}

.skills ul li {
  padding: 6px;
  list-style: square;
}

#hide-img {
  display: block;
}

#hide-img2 {
  display: none;
  object-fit: cover;
}
.box2 h3 {
  font-size: 1.5rem;
  box-shadow: 5px 5px 20px 3px rgb(77, 78, 78);
  padding: 5px 10px;
  border-radius: 6px;
}
.skills ul li {
  font-size: 1rem;
}

@media (max-width: 760px) {
  .container {
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    padding: 20px;
    border-radius: 3px;
    margin: auto;
  }
  .container1 .box1-generate #heading {
    width: 100%;
    letter-spacing: normal;
  }

  .box1 {
    width: 100%;
  }
  .box2 {
    width: 100%;
  }

  #hide-img {
    display: none;
  }
  #hide-img2 {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
  #hide-img2 {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 470px) {
  .container {
    border-radius: 6px;
    width: 95%;
  }
  #hide-img2 {
    width: 80%;
    margin: auto;
  }
  .para {
    color: rgb(161, 137, 117);
    font-size: 0.68rem;
    padding: 10px 0 0 0px;
    line-height: 19px;
  }
  #paraa{
    color: rgb(84, 64, 47);
  }

  #nameT {
    font-size: 1.5rem;
  }
  footer h3 {
    font-size: 0.8rem;
  }

  #skills-btn {
    font-size: 1rem;
    padding: 6px 25px 6px 25px;
    width: 80%;
  }
  .head {
    width: 100%;
    border-radius: 6px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: rem;
  }
  .box1 .sign {
    height: 190px;
    width: 90%;
    margin-bottom: 0;
  }
  .education {
    margin-top: 50px;
  }
  .box1 h1 {
    font-size: 1.8rem;
  }
  .cv-btn,
  #edit {
    padding: 7px 30px;
    font-size: 0.78rem;
  }
  #print {
    padding: 7px 42px;
  }

  .box2 h3 {
    font-size: 1rem;
  }
  .skills {
    margin-left: 10px;
  }
  .skills ul li {
    font-size: 0.7rem;
  }
}

@media (max-width: 1000px) {
  .box1-generate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .col1 {
    width: 90%;
  }
  .col2 {
    width: 90%;
  }
}

#cv-template {
  display: none;
}
.cv-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}
.cv-btn button {
  background-color: #ae9245;
}
.cv-btn #print,
#edit {
  font-size: 1rem;
}

footer {
  margin-top: 20px;
  width: 100%;
  height: 80px;
  background-color: rgb(43, 42, 42);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}
footer h3 {
  letter-spacing: 3px;
}
.container1 #heading {
  font-size: 20px;
  background-color: rgb(44, 48, 46);
  color: white;
  padding: 8px 4px;
  border-radius: 5px;
  text-align: center;
  width: 80%;
}
